{% extends "base.html" %}

{% block content %}
<h1>
    Edit Entry
</h1>
<form action="" role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ entry_title }}" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="20">{{ entry_content }}</textarea>
    </div>
    <button class="btn btn-default" id="edit" name="edit" value="True">Submit</button>
    <button class="btn btn-default" id="edit" name="edit" value="False" formnovalidate>Cancel</button>
</form>
{% endblock %}